{{ if .eddos.install_desktop -}}
# Colours based on Atelier Forest colour scheme
# https://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest/

screenshots
clock
datestr=%a, %Y-%m-%d
indicator
indicator-radius=100
indicator-thickness=7
effect-blur=10x7
ring-color=407ee7
key-hl-color=f22c40
line-color=1b191800
inside-color=1b191888
separator-color=1b191800
text-color=f1efee
{{ end -}}
