{{ if .eddos.install_desktop -}}
smart_borders on
default_border pixel
gaps inner 7
gaps outer 4
# Configure focussed window border colour
client.unfocused #00000000 #22222266 #888888 #00000000 #00000000
client.focused_inactive #00000000 #5f676a66 #ffffff #00000000 #00000000
client.focused #00000000 #285577ff #ffffff #ff0000 #00000000

# Enable fading unfocussed windows
exec swayfade
{{ end -}}
